<img alt="Angular Logo"
     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" class="img-response">
<ul>
    <li>
        <h5><a rel="noopener" routerLink="home">In project Link - Home</a></h5>
    </li>
    <li>
        <h5><a rel="noopener" routerLink="products">In project Link - Products</a></h5>
    </li>
    <li>
        <h5><a rel="noopener" routerLink="portal/dashboard">iFrame Link - portal/dashboard</a></h5>
    </li>
    <li>
        <h5><a rel="noopener" routerLink="portal/empupload">iFrame Link - portal/empupload</a></h5>
    </li>
    <li>
        <h5><a rel="noopener" routerLink="portal/delegation">iFrame Link - portal/delegation</a></h5>
    </li>
    <li>
        <h5><a rel="noopener" routerLink="bamossza">iFrame Link - bamossza</a></h5>
    </li>
</ul>